@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;

    --primary-rgb: 0, 155, 33;
    --secondary-rgb: 138, 38, 15;
  }

  ::selection {
    color: rgb(var(--background-rgb));
    background: rgb(var(--primary-rgb));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }
}
